.nav{
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
}
#title{
    width: 40%;
    text-align: center;
}
#list{
    text-align: center;
    width: 60%;
}
a{
    color: white;
    margin: 50px;
    text-decoration: none;
}