.tech{
    display: flex;
    width: 1000px;
    height: 460px;
    box-shadow: 0 0 10px black;
    margin: 50px auto;
}
.leftPanel{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color:black;
    color: white;
}
.rightPanel{
    width: 70%;
}
.html{
    display: flex;
}
.css{
    display: flex;
}
.js{
    display: flex;
}
.picture{
    margin: 10px;
    margin-top: 15px;
    border-radius: 50%;
}
.react{
    display: flex;
}
